.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
*.gem
*.rbc
*.swp
*.tmproj
*~
.\#*
.config
.yardoc
InstalledFiles
\#*
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags
public/static/**/*
REVISION