<h1 id="unofficial-opentable-api"><a href="#unofficial-opentable-api" class="anchor">Unofficial OpenTable API</a></h1>

<p>This project provides an unofficial json API interface to search OpenTable
restaurant data. It eliminates the need to download, parse and import
data from XLS file.</p>

<p>Its an open-source project, view <a href="https://github.com/sosedoff/opentable">source on github</a>.</p>

<h2 id="usage"><a href="#usage" class="anchor">Usage</a></h2>

<ul>
<li>API endpoint: <a href="http://opentable.herokuapp.com/api">http://opentable.herokuapp.com/api</a></li>
<li>Secure API endpoint: <a href="https://opentable.herokuapp.com/api">https://opentable.herokuapp.com/api</a></li>
<li>Response Format: JSON (JSONP is supported too)</li>
<li>No authentication or API tokens required</li>
<li>API is throttled with 1000 requests per hour per IP address</li>
</ul>


<h3 id="list-all-cities"><a href="#list-all-cities" class="anchor">List all cities</a></h3>

<pre class="no-highlight">GET /api/cities</pre>


<p>Returns response:</p>

<pre class="no-highlight">{
  "count": 1234,
  "cities": [
    "Chicago",
    "San Francisco",
    "New York"
  ]
}</pre>


<h3 id="find-restaurants"><a href="#find-restaurants" class="anchor">Find restaurants</a></h3>

<pre class="no-highlight">GET /api/restaurants</pre>


<p>Parameters: (at least one required)</p>

<ul>
<li><code>name</code> - Name of the restaurant <em>optional</em></li>
<li><code>address</code> - Address line. Should not contain state or city or zip. <em>optional</em></li>
<li><code>state</code> - State code (ex.: IL) <em>optional</em></li>
<li><code>city</code> - City name (ex.: Chicago) <em>optional</em></li>
<li><code>zip</code> - Zipcode (ex: 60601) <em>optional</em></li>
<li><code>country</code> - Country code (ex: US) <em>optional</em></li>
</ul>


<p>Returns response:</p>

<pre class="no-highlight">{
  "count": 521,
  "per_page": 25,
  "current_page": 1,
  "restaurants": [ ... ]
}</pre>


<h3 id="find-a-single-restaurant"><a href="#find-a-single-restaurant" class="anchor">Find a single restaurant</a></h3>

<pre class="no-highlight">GET /api/restaurants/:id</pre>


<p>Returns a single restaurant record, see reference for details.</p>

<h2 id="reference"><a href="#reference" class="anchor">Reference</a></h2>

<p>Restaurant attributes:</p>

<pre class="no-highlight">{
  "id": 55807,
  "name": "ALC Steaks (Austin Land &amp; Cattle)",
  "address": "1205 N. Lamar Blvd",
  "city": "Austin",
  "state": "TX",
  "area": "Austin",
  "postal_code": "78703",
  "country": "US",
  "phone": "5124721813",
  "reserve_url": "http://www.opentable.com/single.aspx?rid=55807",
  "mobile_reserve_url": "http://mobile.opentable.com/opentable/?restId=55807"
}</pre>


<p>To generate a proper reservation link just ref parameter with your affiliate ID to reserve_url or mobile_reserve_url</p>

<h2 id="consuming-api"><a href="#consuming-api" class="anchor">Consuming API</a></h2>

<p>You can use simple client library i wrote — <a href="https://gist.github.com/2504683">https://gist.github.com/2504683</a></p>

<p>Example:</p>

<pre class="ruby">api = <span class="constant">OpenTable::Client</span>.new

<span class="comment"># Find restaurants</span>
resp = api.restaurants(<span class="symbol">:city</span> =&gt; <span class="string">"Chicago"</span>)

<span class="comment"># Process response</span>
resp[<span class="string">'count'</span>]       <span class="comment"># =&gt; records found</span>
resp[<span class="string">'restaurants'</span>] <span class="comment"># =&gt; restaurant records</span>

<span class="comment"># Fetch a single record</span>
api.restaurant(<span class="number">81169</span>)</pre>


<h2 id="disclaimer"><a href="#disclaimer" class="anchor">Disclaimer</a></h2>

<ul>
<li>This service is not affiliated with OpenTable Inc., any of its products or
employees.</li>
<li>All content is represented as is and does not have any modifications
to the original data</li>
<li>Restaurant data has extra columns to simplify integration with OpenTable website</li>
</ul>


<h2 id="contact"><a href="#contact" class="anchor">Contact</a></h2>

<ul>
<li>Dan Sosedoff</li>
<li><a href="mailto:dan.sosedoff@gmail.com">dan.sosedoff@gmail.com</a></li>
<li><a href="http://twitter.com/dan_sosedoff">http://twitter.com/dan_sosedoff</a></li>
<li><a href="https://github.com/sosedoff/opentable">https://github.com/sosedoff/opentable</a></li>
</ul>