defaults: &defaults
  host: localhost
  use_utc: true
  use_activesupport_time_zone: true
  identity_map_enabled: true
  max_retries_on_connection_failure: 5
  raise_not_found_error: false

development:
  <<: *defaults
  database: opentable_development

test:
  <<: *defaults
  database: opentable_test

production:
  <<: *defaults
  host: <%= ENV['MONGO_HOST'] %>
  port: <%= ENV['MONGO_PORT'] || 27737 %>
  database: <%= ENV['MONGO_DB'] %>
  username: <%= ENV['MONGO_USER'] %>
  password: <%= ENV['MONGO_PASS'] %>
  logger: false